<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check guest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/check_guest.css') }}">
</head>

<body>
    <form action="/api/check_guest" method="POST">
        <input type="text" name="last_name" placeholder="Фамилия" class="last_name">
        <input type="tel" name="phone" placeholder="Номер телефона" class="phone">
        <input type="submit" value="Проверить" class="submit">
    </form>

</body>

</html>
